<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>List of orders:</h1>
        <ul>
        {% for order in orders %}
            <li>
                <p><a href="/orders/{{orders.index(order)}}">Show order</a> customer name: {{ order.name }} | order date: {{ order.date }} | quantity: {{ order.quantity }} | description: {{ order.description }}</p>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>